/*.active {*/
/*  font-weight: bolder;*/
/*}*/
.dropdown-toggle::after {
  display: none;
}

.coolFont{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: x-large;
}


.navbar-brand{
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
}
@media (max-width: 767px) {
  .navbar-toggleable-sm {
    clear: both;
  }
}
.nav-link {
  display: inline-grid;
}
/*.icon-bar {*/
/*  width: 22px;*/
/*  height: 2px;*/
/*  background-color: #B6B6B6;*/
/*  display: block;*/
/*  transition: all 0.2s;*/
/*  margin-top: 4px*/
/*}*/

/*.navbar-toggler {*/
/*  border: none;*/
/*  background: transparent !important;*/
/*}*/

/*.navbar-toggler .top-bar {*/
/*  transform: rotate(45deg);*/
/*  transform-origin: 10% 10%;*/
/*}*/

/*.navbar-toggler .middle-bar {*/
/*  opacity: 0;*/
/*}*/

/*.navbar-toggler .bottom-bar {*/
/*  transform: rotate(-45deg);*/
/*  transform-origin: 10% 90%;*/
/*}*/

/*.navbar-toggler.collapsed .top-bar {*/
/*  transform: rotate(0);*/
/*}*/

/*.navbar-toggler.collapsed .middle-bar {*/
/*  opacity: 1;*/
/*}*/

/*.navbar-toggler.collapsed .bottom-bar {*/
/*  transform: rotate(0);*/
/*}*/
