/*.active {*/
/*  font-weight: bolder;*/
/*}*/
.dropdown-toggle::after {
  display: none;
}

.hrFromSaveAndLoad{
  display: none;
}

#header{
  padding-bottom: 3px ;
  padding-top: 0;
}
@media (min-width: 576px) {
  .myShadow{
    -webkit-box-shadow: 0px 0px 60px 23px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 60px 23px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 60px 23px rgba(0,0,0,0.15);
  }
}

/*navBar Shadow*/
.navbar {
  /*-webkit-box-shadow: 0 8px 6px -6px #999;*/
  /*-moz-box-shadow: 0 8px 6px -6px #999;*/
  /*box-shadow: 0 8px 6px -6px #999;*/
  -webkit-box-shadow: 0px 6px 51px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 6px 51px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 6px 51px 2px rgba(0,0,0,0.24);
  /* the rest of your styling */
}

.collapseButton:focus{
  outline: none;
}

@media (max-width: 767px) {


}





.coolFont{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: x-large;
}


.navbar-brand{
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; /* For modern browsers */
}

.highLightMeOnHover:hover{
  background-color: black;
  color: white;
}


@media (max-width: 575px) {
  .navbar-brand{
    font-size: large;
  }
  #header{
    padding-bottom: 2px ;
    padding-top: 2px;
  }
  .navbar-nav .dropdown-menu{
    border: none;
    background: none;
  }
  .dropdown-item .alert-danger{
    background-color: white;
  }
  .saveLoad{
    font-size: medium;
    background-color: transparent;
    padding: 10px 0;
  }
  .smallerNav{
    font-size: smaller;
    padding: 0;
  }

  .navbar-toggler{
    max-height: 35px;
    max-width: 40px;
    padding: 0;
  }
  .navbar-toggler-icon{
    max-height: 30px;
    max-width: 30px;
  }
  .hideHROnSmall{
    display: none;
  }
  .highLightMeOnHover:hover{
    background-color: transparent;
    color: black;
  }


}
/*.dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}*/
/*.dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}*/

.navbar-brand:hover {
  color: #75590c;
}







.nav-link {
  display: inline-grid;
}
/*.icon-bar {*/
/*  width: 22px;*/
/*  height: 2px;*/
/*  background-color: #B6B6B6;*/
/*  display: block;*/
/*  transition: all 0.2s;*/
/*  margin-top: 4px*/
/*}*/

/*.navbar-toggler {*/
/*  border: none;*/
/*  background: transparent !important;*/
/*}*/

/*.navbar-toggler .top-bar {*/
/*  transform: rotate(45deg);*/
/*  transform-origin: 10% 10%;*/
/*}*/

/*.navbar-toggler .middle-bar {*/
/*  opacity: 0;*/
/*}*/

/*.navbar-toggler .bottom-bar {*/
/*  transform: rotate(-45deg);*/
/*  transform-origin: 10% 90%;*/
/*}*/

/*.navbar-toggler.collapsed .top-bar {*/
/*  transform: rotate(0);*/
/*}*/

/*.navbar-toggler.collapsed .middle-bar {*/
/*  opacity: 1;*/
/*}*/

/*.navbar-toggler.collapsed .bottom-bar {*/
/*  transform: rotate(0);*/
/*}*/
