<div class="row">
  <div class="col-12">
    <img src="{{recipeFromRecipeComponent.imagePath}}" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipeFromRecipeComponent.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>Manage Recipe <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">To Shopping List</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">{{recipeFromRecipeComponent.desc}}</div>
</div>
<div class="row">
  <div class="col-12">Ingredients</div>
</div>
<!--<div class="row">-->
<!--  <div class="col-md-12">-->
<!--    <div class="dropdown">-->
<!--      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
<!--        Dropdown button-->
<!--      </button>-->
<!--      <div class="dropdown-menu">-->
<!--        <a class="dropdown-item" href="#">Link 1</a>-->
<!--        <a class="dropdown-item" href="#">Link 2</a>-->
<!--        <a class="dropdown-item-text" href="#">Text Link</a>-->
<!--        <span class="dropdown-item-text">Just Text</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
