/*.detailsFont{*/
/*  font-family: 'K2D', sans-serif*/
/*}*/
.ingredientsTable{
  -webkit-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.23);
  margin-bottom: 20px;
  margin-top: 45px;
}
.imageShadow{
  -webkit-box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.23);
  box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.23);
}
@media (min-width: 768px) {
  .ingredientsTable{
    font-family: 'Roboto', sans-serif;
  }
  .imageRow{
    margin-bottom: 25px;
  }
  .detailsFont{
    margin-bottom: 20px;
  }
  .makeMeSmall {
    font-size: larger;
  }
}

.imageRow{
  margin-bottom: 15px;
}
@media (max-width: 767px) {

  .ingredientsTable{
    margin-top: 20px;
  }

  .imageRow{
    margin-bottom: 15px;
  }

  .makeMeSmall {
    font-size: smaller;
  }
  .makeHeadingSmaller{
    font-size: x-large;
    padding-top: 7px;
    line-height: 1;
    margin-bottom: auto;
  }

  .detailsFont{
    margin-bottom: 15px;
  }


  /*hr{*/
  /*  margin-top: 4px;*/
  /*}*/


  .btn-responsive {
    padding: 6px 4px;
    /*margin-bottom: 12px;*/
    /*font-size: 100%;*/
    line-height: 1;
  }

  /*.smallerTextBoxes{*/
  /*  margin-bottom: 5px;*/
  /*}*/

  /*.removeLabelMargin{*/
  /*  margin-bottom: 2px;*/
  /*}*/

}
