/*.detailsFont{*/
/*  font-family: 'K2D', sans-serif*/
/*}*/
.ingredientsTable{
  -webkit-box-shadow: 0px 0px 31px 3px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 0px 31px 3px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 31px 3px rgba(0,0,0,0.23);
}
