<br #topOfRecipeDetails>
<br>
<br>
<div class="row imageRow">
  <div class="col-12">
    <img src="{{recipeFromRecipeComponent.imagePath}}" alt="" class="img-fluid rounded imageShadow"
         (click)="scrollTo()">
  </div>
</div>
<div class="row detailsFont">
  <div class="col-7" style="height: max-content">
    <h1 style="font-family: 'Roboto', sans-serif; font-weight: bold; word-wrap: break-word; vertical-align: middle" class="makeHeadingSmaller">{{recipeFromRecipeComponent.name}}</h1>
  </div>
  <div class="col-5 text-right">
    <div class="btn-group dropup"  style="height: max-content">
      <button type="button" class="btn btn-primary dropdown-toggle btn-responsive" appDropdown style="white-space: break-spaces;margin-top: 5px">Manage<span
        class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" data-placement="auto">
        <a class="dropdown-item" (click)="goToShopping(recipeFromRecipeComponent.ingredients)" style="cursor: pointer"
           routerLink="/shopping-list">Add To Shopping List</a>
        <a class="dropdown-item" routerLink="edit" (click)="scrollFromEdit(topOfRecipeDetails)">Edit Recipe</a>
        <a class="dropdown-item" (click)="deleteRecipe();deleteScrollTo()" routerLink="/recipes">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row detailsFont" style="font-size: large;word-wrap: break-word;">
  <div class="col-12 makeMeSmall" style="font-family: 'Hind Guntur', sans-serif;">{{recipeFromRecipeComponent.desc}}</div>
</div>
<!--<hr>-->
<div class="row" *ngIf="recipeFromRecipeComponent.ingredients.length>0">
  <div class="col-12 table-responsive">
    <table class="table table-striped table-dark ingredientsTable table-sm">
      <thead>
      <tr>
        <th scope="col" class="makeMeSmall"></th>
        <th scope="col" class="makeMeSmall">Ingredient</th>
        <th scope="col" class="makeMeSmall">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ingredient of recipeFromRecipeComponent.ingredients; let i =index">
        <th scope="row" class="makeMeSmall" style="text-align: end">{{i+1}}</th>
        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;" class="makeMeSmall">{{ingredient.name}}</td>
        <td class="makeMeSmall">{{ingredient.amount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--  <div class="col-9"><div class="font-weight-bold" #ingredients>Ingredients</div>-->
  <!--    <br>-->
  <!--  <div class="list-group">-->
  <!--    <div class="list-group-item " *ngFor="let ingredient of recipeFromRecipeComponent.ingredients">-->
  <!--      {{ingredient.name}}-->
  <!--    </div>-->
  <!--  </div>-->
  <!--    <div class="col-3">-->
  <!--      <div class="list-group">-->
  <!--        <div class="list-group-item " *ngFor="let ingredient of recipeFromRecipeComponent.ingredients">-->
  <!--          ({{ingredient.amount}})-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
