.selectedItem{
  background-color: lightsteelblue;
}
.myFont{
  font-family: 'Roboto Condensed', sans-serif;
}

.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x:auto;
  overflow-y: auto;
}
.ingredientsTable{
  -webkit-box-shadow: 0px 0px 31px 3px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 0px 31px 3px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 31px 3px rgba(0,0,0,0.23);
}
