
<label for="name">Server Name : {{serverName}}</label>
<!--<input type="text" class="form-control" id="name" (input)="onServerNameEnter($event)"/>-->
<input type="text" class="form-control" id="name" [(ngModel)]="serverName" (input)="onServerNameEnter($event)"/>
<p [innerText]="serverCreationStatus" *ngIf="serverCreated"></p>

<!--<p [innerText]="serverCreationStatus" *ngIf="serverCreated; else noServer "></p>-->
<!--<ng-template #noServer>-->
<!--  <p>-->
<!--    No Server Created Yet !-->
<!--  </p>-->
<!--</ng-template>-->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="createServer()" >Create Server</button>
<!--<p>{{serverCreationStatus}}</p>-->

<app-server></app-server>
<app-server></app-server>
