.list-group{
  max-height: 60vh;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x:auto;
  overflow-y: auto;
}
.myShadow{
  -webkit-box-shadow: 0px 0px 173px 45px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 173px 45px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 173px 45px rgba(0,0,0,0.15);
}
