<div class="row">
  <div class="col-xl-12">
    <button class="btn btn-success" routerLink="new">New Recipe</button>
  </div>
</div>
<hr>
<div class="row recipeListRow">
  <div class="col-xl-12">
    <div class="list-group myShadow">
      <app-recipe-item *ngFor="let recipe of recipes; let i = index" [recipe]="recipe" [id]="i"></app-recipe-item>
  </div>
</div>
<!--<div class="border">-->
<!--  <ul class="list-group list-group-flush">-->
<!--    <li class="list-group-item">First item</li>-->
<!--    <li class="list-group-item">Second item</li>-->
<!--    <li class="list-group-item">Third item</li>-->
<!--    <li class="list-group-item">Fourth item</li>-->
<!--    <li class="list-group-item">First item</li>-->
<!--    <li class="list-group-item">Second item</li>-->
<!--    <li class="list-group-item">Third item</li>-->
<!--    <li class="list-group-item">Fourth item</li>-->
<!--    <li class="list-group-item">First item</li>-->
<!--    <li class="list-group-item">Second item</li>-->
<!--    <li class="list-group-item">Third item</li>-->
<!--    <li class="list-group-item">Fourth item</li>-->
<!--    <li class="list-group-item">First item</li>-->
<!--    <li class="list-group-item">Second item</li>-->
<!--    <li class="list-group-item">Third item</li>-->
<!--    <li class="list-group-item">Fourth item</li>-->
<!--  </ul>-->
</div>
