<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onAdd(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" ngModel class="form-control" required>
        </div>
        <div class="col-md-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" name="amount" ngModel class="form-control" required pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success" type="submit" *ngIf="!editingMode" [disabled]="!f.valid">Add
          </button>
          <button class="btn btn-success" type="submit" *ngIf="editingMode" [disabled]="!f.valid">Update
          </button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
